@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo ao site teste para deploy.</h1>
    <p>
        Acesse meu GitHub: <a href="https://github.com/WanessaMara69">https://github.com/WanessaMara69</a>
    </p>
</div>
